
{# args: { 'type': { 'vanilla_full' }, 'note': note, ?'replies': { note, ?replies }, ?'extra': { 'foo': bar } #}
{% macro vanilla_full(args) %}
    {% set note = args.note %}
    {% if args.replies is defined %}{% set replies = args.replies %}{% else %}{% set replies = null %}{% endif %}
    {% if args.extra is defined %}{% set extra = args.extra %}{% else %}{% set extra = null %}{% endif %}

    {% set actor = note.getActor() %}
    {% set nickname = actor.getNickname() %}
    {% set fullname = actor.getFullname() %}
    {% set actor_uri = actor.getUri() %}
    {% set actor_url = actor.getUrl() %}
    {% set mention = mention(actor) %}
    {% set note_language = note.getNoteLanguageShortDisplay() %}

    <article
            tabindex="0"
            title="{{'A note by actor' | trans}} {{ nickname }}"
            id="{{ 'note-anchor-' ~ note.getId() }}"
            class="h-entry hentry note"
            lang="{{ note.getLanguageLocale() }}">
        {{ block('note_sidebar', 'cards/blocks/note.html.twig') }}

        <div class="note-wrapper">
            {{ block('note_info', 'cards/blocks/note.html.twig') }}

            <section class="e-content entry-content note-content" title="{{ 'Note\'s main content' | trans }}">
                {% set notification_targets = note.getNotificationTargets() %}
                {% if notification_targets is not empty  %}
                    {% for target in notification_targets %}
                        {% if target.isGroup() %}
                            <em tabindex="0"
                                class="note-replies-parent"
                                title="{{'The group in which this note was addressed to' | trans}}">
                                {{'in ' | trans}}
                                <a href="{{ target.getUrl() }}">{{ mention(target) | raw }}</a>
                            </em>
                        {% else %}
                            <em tabindex="0"
                                class="note-replies-parent"
                                title="{{'Whom this is a reply to' | trans}}"
                                aria-flowto="note-anchor-{{ note.getReplyTo() }}">
                                {{'in reply to' | trans}}
                                <a href="{{ target.getUrl() }}">{{ mention(target) | raw }}</a>
                            </em>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {{ block('note_text', 'cards/blocks/note.html.twig') }}
                {{ block('note_attachments', 'cards/blocks/note.html.twig') }}
                {{ block('note_links', 'cards/blocks/note.html.twig') }}
            </section>
        </div>
        {{ block('note_complementary', 'cards/blocks/note.html.twig') }}
    </article>

    {% if replies is defined %}
        {{ block('note_replies', 'cards/blocks/note.html.twig') }}
    {% endif %}
{% endmacro vanilla_full %}


{# args: { 'type': { 'vanilla_compact' }, 'note': note, ?'extra': { 'foo': bar } } #}
{% macro vanilla_compact(args) %}
    {% set note = args.note %}
    {% if args.extra is defined %}{% set extra = args.extra %}{% else %}{% set extra = null %}{% endif %}

    {% set actor = note.getActor() %}
    {% set nickname = actor.getNickname() %}
    {% set fullname = actor.getFullname() %}
    {% set actor_uri = actor.getUri() %}
    {% set actor_url = actor.getUrl() %}
    {% set mention = mention(actor) %}

    <article
            tabindex="0"
            title="{{'A note by actor' | trans}} {{ nickname }}"
            id="{{ 'note-compact-anchor-' ~ note.getId() }}"
            class="h-entry hentry note"
            lang="{{ note.getLanguageLocale() }}">
        <div class="note-wrapper">
            <header class="note-info">
                {{ block('note_sidebar', 'cards/blocks/note.html.twig') }}
                {{ block('note_author', 'cards/blocks/note.html.twig') }}
            </header>

            <section class="e-content entry-content note-content-compact" title="{{ 'Note\'s main content' | trans }}">
                <small class="note-conversation-info">
                    <a href="{{ note.getConversationUrl() }}"
                       class="note-conversation-url">{{ 'in conversation' | trans }}</a>
                    <a href="{{ note.getUrl() }}"
                       class="note-url">{{ note.getModified() | ago }}</a>
                </small>
                <hr>
                {{ block('note_text', 'cards/blocks/note.html.twig') }}
            </section>
        </div>
    </article>
{% endmacro vanilla_compact %}


{# args: { 'type': { 'page_full' }, 'note': note, ?'replies': { note, ?replies }, ?'extra': { 'foo': bar } #}
{% macro page_full(args) %}
    {% set note = args.note %}
    {% if args.replies is defined %}{% set replies = args.replies %}{% else %}{% set replies = null %}{% endif %}
    {% if args.extra is defined %}{% set extra = args.extra %}{% else %}{% set extra = null %}{% endif %}

    {% set actor = note.getActor() %}
    {% set nickname = actor.getNickname() %}
    {% set fullname = actor.getFullname() %}
    {% set actor_uri = actor.getUri() %}
    {% set actor_url = actor.getUrl() %}
    {% set mention = mention(actor) %}
    {% set note_language = note.getNoteLanguageShortDisplay() %}

    <article
            tabindex="0"
            title="{{'A note by actor' | trans}} {{ nickname }}"
            id="{{ 'note-anchor-' ~ note.getId() }}"
            class="h-entry hentry note"
            lang="{{ note.getLanguageLocale() }}">
        {{ block('note_sidebar', 'cards/blocks/note.html.twig') }}

        <div class="note-wrapper">
            {{ block('note_info', 'cards/blocks/note.html.twig') }}

            <section class="e-content entry-content note-content" title="{{ 'Note\'s main content' | trans }}">
                {% if extra.parent is defined  %}
                    <em
                            tabindex="0"
                            class="note-replies-parent"
                            title="{{'This is a reply with depth: ' | trans}} {{ extra.depth }}"
                            aria-flowto="note-anchor-">
                        {{'in reply to' | trans}} {{ extra.parent | raw }}
                    </em>
                {% endif %}
                {{ block('note_text', 'cards/blocks/note.html.twig') }}
                {{ block('note_attachments', 'cards/blocks/note.html.twig') }}
                {{ block('note_links', 'cards/blocks/note.html.twig') }}
            </section>
        </div>
        {{ block('note_complementary', 'cards/blocks/note.html.twig') }}
    </article>

    {% if replies is defined %}
        {{ block('note_replies', 'cards/blocks/note.html.twig') }}
    {% endif %}
{% endmacro page_full %}


{# args: { 'type': { 'page_compact' }, 'note': note, ?'extra': { 'foo': bar } } #}
{% macro page_compact(args) %}
    {% set note = args.note %}
    {% if args.extra is defined %}{% set extra = args.extra %}{% else %}{% set extra = null %}{% endif %}

    {% set actor = note.getActor() %}
    {% set nickname = actor.getNickname() %}
    {% set fullname = actor.getFullname() %}
    {% set actor_uri = actor.getUri() %}
    {% set actor_url = actor.getUrl() %}
    {% set mention = mention(actor) %}

    <article
            tabindex="0"
            title="{{'A note by actor' | trans}} {{ nickname }}"
            id="{{ 'note-compact-anchor-' ~ note.getId() }}"
            class="h-entry hentry note"
            lang="{{ note.getLanguageLocale() }}">
        <div class="note-wrapper">
            <header class="note-info">
                {{ block('note_sidebar', 'cards/blocks/note.html.twig') }}
                {{ block('note_author', 'cards/blocks/note.html.twig') }}
            </header>

            <section class="e-content entry-content note-content" title="{{ 'Note\'s main content' | trans }}">
                <small class="note-conversation-info">
                    <a href="{{ note.getConversationUrl() }}"
                       class="note-conversation-url">{{ 'in conversation' | trans }}</a>
                    <a href="{{ note.getUrl() }}"
                       class="note-url">{{ note.getModified() | ago }}</a>
                </small>
                <hr>
                {{ block('note_text', 'cards/blocks/note.html.twig') }}
            </section>
        </div>
    </article>
{% endmacro page_compact %}