{% macro note_vanilla(note, replies) %}
    {% set actor = note.getActor() %}
    {% set nickname = actor.getNickname() %}
    {% set fullname = actor.getFullname() %}
    {% set actor_uri = actor.getUri() %}
    {% set actor_url = actor.getUrl() %}
    {% set mention = mention(actor) %}
    {% set note_language = note.getNoteLanguageShortDisplay() %}

    <article id="{{ 'note-anchor-' ~ note.getId() }}"
             class="h-entry hentry note" lang={{ note.getLanguageLocale() }}>
        {{ block('note_sidebar', 'cards/blocks/note.html.twig') }}
        <div class="note-wrapper">
            <header class="note-info">
                {{ block('note_info', 'cards/blocks/note.html.twig') }}
                {{ block('note_actions', 'cards/blocks/note.html.twig') }}
            </header>

            <section role="dialog" class="e-content entry-content note-content">
                {{ block('note_text', 'cards/blocks/note.html.twig') }}
                {{ block('note_attachments', 'cards/blocks/note.html.twig') }}
                {{ block('note_links', 'cards/blocks/note.html.twig') }}
            </section>

            {{ block('note_replies', 'cards/blocks/note.html.twig') }}
            {{ block('note_complementary_info', 'cards/blocks/note.html.twig') }}
        </div>
    </article>
{% endmacro note_vanilla %}

{% macro note_compact(note) %}
    {% set actor = note.getActor() %}
    {% set nickname = actor.getNickname() %}
    {% set fullname = actor.getFullname() %}
    {% set actor_uri = actor.getUri() %}
    {% set actor_url = actor.getUrl() %}
    {% set mention = mention(actor) %}

    <article class="h-entry hentry note" lang={{ note.getLanguageLocale() }}>
        {{ block('note_sidebar', 'cards/blocks/note.html.twig') }}
        <div class="note-wrapper">
            <header class="note-info">
                <div class="note-info-start">
                    {{ block('note_author', 'cards/blocks/note.html.twig') }}
                </div>
            </header>

            <section role="dialog" class="e-content entry-content note-content">
                <small class="note-conversation-info">
                    <a href="{{ note.getConversationUrl() }}"
                       class="note-conversation-url">{{ 'in conversation' | trans }}</a>
                    <a href="{{ note.getUrl() }}"
                       class="note-url">{{ note.getModified() | ago }}</a>
                </small>
                <hr>
                {{ block('note_text', 'cards/blocks/note.html.twig') }}
            </section>
        </div>
    </article>
{% endmacro note_compact %}