{% extends 'stdgrid.html.twig' %}
{% import "/cards/macros/note.html.twig" as noteView %}

{% block title %}{{ 'Remove favourite from ' | trans }}{{ note.getActorNickname() }}{{ '\'s note.' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/pages/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {{ parent() }}
    <div class="page">
        <div class="main">
            {{ noteView.note_vanilla(note) }}
            {{ form(remove_favourite) }}
        </div>
    </div>
{% endblock body %}
