{% extends 'stdgrid.html.twig' %}
{% import "/cards/macros/note.html.twig" as noteView %}

{% block title %}{{ 'Delete ' | trans }}{{ 'note' | trans }}{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/default_theme/pages/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
        {{ parent() }}
        <div class="page">
                <div class="main">
                        {{ noteView.note_compact(note) }}
                        {{ form(delete) }}
                </div>
        </div>
{% endblock body %}
